@import "tailwindcss";

@theme {
  --color-primary: #ced7e0;
}

body {
  background-color: #054569;
  color: #ced7e0;
}

input {
  outline: none;
}

input:focus {
  outline: none;
  box-shadow: none;
}

input::-moz-focus-inner {
  border: 0;
}
